
.mySidenav a {
    position: fixed;
    display: flex;
    justify-content: end;
    left: -74px;
    margin-top: 400px;
    transition: 0.7s;
    padding: 9px;
    width: 120px;
    font-size: 30px;
    color: rgb(241, 241, 241);
    z-index: 1000;
  }
  
  .mySidenav a:hover {
    left: 0px;
    justify-content: start;
    width: 60px;
    padding: 16px;

  }
  
  .about {
    top: 20px;
    background-color: #04AA6D;
  }
  
  .blog {
    top: 68px;
    background-color: #2196F3;
  }
  
  .projects {
    top: 116px;
    background-color: #f44336;
  }
  
  .contact {
    top: 164px;
    background-color: #555;
  }